.container {
  margin: 20px 0;
}

.card {
  margin: 2% !important;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.confirmed {
  border-bottom: 12px solid #ff0000;
}

.recovered {
  border-bottom: 12px solid #9f53e7;
}

.deaths {
  border-bottom: 12px solid #574432;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}